<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TRVLR</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="../javascripts/aboutUs.js"></script>
</head>
<body>
<% include usersNavbar %>
        <div class="content">
          <section class="profileContainer">
    
            <div class="card-user-profile">
              <div class="card-user-profile-content card-section">
                <div class="card-user-profile-avatar">
                    <div class="imageContain">
                  <img src="../images/Anthony.jpeg" alt="picture of a Developer" />
                  </div>
                </div>
                <div class="rounded-social-buttons">
                  <a class="social-button github" href="https://github.com/APellingra"></a>
                  <a class="social-button linkedin" href="https://www.linkedin.com/in/anthony-pellingra-646051138/"></a>
                </div><hr>
                <div class="wordsContain">
                  <h2 class="card-user-profile-name">Anthony Pellingra</h2>
                  <h3 class="card-user-profile-status">Web Developer</h3>
                  <p class="card-user-profile-info">Anthony a hardworking graduate from Vanderbilt dedicated his time and efforts into a lot of th ebackend of this webpage. He also specialized in implementing certain design elements on each of the pages to increase user interactions. </p>
                </div><hr>
              </div>

            </div>
          
            <div class="card-user-profile">
              <div class="card-user-profile-content card-section">
                <div class="card-user-profile-avatar">
                  <div class="imageContain">
                  <img src="../images/0 (2).jpeg" alt="picture of a Developer" />
                </div>
                </div>
                <div class="rounded-social-buttons">
                  <a class="social-button github" href="https://github.com/kreid06"></a>
                  <a class="social-button linkedin" href="https://www.linkedin.com/in/nathan-evans-212397189/"></a>
                </div>
              <hr>
                <div class="wordsContain">
                  <h2 class="card-user-profile-name">Nathan Evans</h2>
                  <h3 class="card-user-profile-status">Web Developer</h3>
                  <p class="card-user-profile-info">Nathan is a good ol hard working american who enjoys making the frontend work smoothly. He worked on some project management as well as design some of the pages including this one you're on now. </p>
                  </div><hr>
              </div>
              

            </div>
          
            <div class="card-user-profile">
              <div class="card-user-profile-content card-section">
                <div class="card-user-profile-avatar">
                    <div class="imageContain">
                  <img src="../images/profilePics/0 (1).jpeg" alt="picture of a Developer" />
                  </div>
                </div>
                <div class="rounded-social-buttons">
                    <a class="social-button github" href="https://github.com/Evans-N"></a>
                    <a class="social-button linkedin" href="https://www.linkedin.com/in/ian-miller-571aa86b/"></a>
                  </div><hr>
                <div class="wordsContain">
                  <h2 class="card-user-profile-name">Ian Miller</h2>
                  <h3 class="card-user-profile-status">Web Developer</h3>
                  <p class="card-user-profile-info">Ian from his star role in Home Alone found himself wanting more. He decided to work on SQL databasing and integrating frontend information into the database. He also assisted in some design efforts as well as stopping two bad guys from breaking into his house. </p>
                </div><hr>
              </div>
            </div>
            
          </section>
          <section class="contactUs">
                <img class='contactPic' src="../images/trvlrlogoblue.png">  
                <div class="email"><hr>
                    <h2>Have questions, concerns, or feedback? Let us know!</h2>
                    <form class="contactUsform">What would you like to contact us about?
                            <select name='list' id="list" accesskey="target">
                                <option value="none">Select an Option</option>
                                <option value="mailto:webissues@Trvlr.com">Webpage Issues</option>
                                <option value="mailto:customerservice@Trvlr.com">Feedback</option>
                                <option value="mailto:innovation@Trvlr.com">New Webpage Ideas</option>
                                <option value="mailto:safety@Trvlr.com">Safety Concerns</option>
                            </select>
                            <input type="button" value="Go" onclick="goToNewPage()"/>
                          </form>
                </div>
            </section>
        </div>
        <% include footer %>
    </body>
</html>
