<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TRVLR</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</head>
<body>
<% include usersNavbar %>
        <div class="content row">
          <section class="profileContainer row" style='display: flex'>
    
            <div class="card-user-profile col-12 col-lg-4">
              <div class="card-user-profile-content card-section">
                <div class="card-user-profile-avatar">
                    <div class="imageContain">
                  <img src="../images/Anthony.jpeg" alt="picture of a Developer" />
                  </div>
                </div>
                <div class="rounded-social-buttons">
                  <a class="social-button github" href="https://github.com/APellingra"></a>
                  <a class="social-button linkedin" href="#"></a>
                </div><hr>
                <div class="wordsContain">
                  <h2 class="card-user-profile-name">Anthony Pellingra</h2>
                  <h3 class="card-user-profile-status">Web Developer</h3>
                  <p class="card-user-profile-info">Anthony constructed the trivia game and designed stylistic elements of the website including: the logo, nav bar, and game tiles.</p>
                </div><hr>
              </div>

            </div>
          
            <div class="card-user-profile col-12 col-lg-4">
              <div class="card-user-profile-content card-section">
                <div class="card-user-profile-avatar">
                  <div class="imageContain">
                  <img src="../images/NathanProfilePic.png" alt="picture of a Developer" />
                </div>
                </div>
                <div class="rounded-social-buttons">
                  <a class="social-button github" href="https://github.com/kreid06"></a>
                  <a class="social-button linkedin" href="#"></a>
                </div>
              <hr>
                <div class="wordsContain">
                  <h2 class="card-user-profile-name">Nathan Evans</h2>
                  <h3 class="card-user-profile-status">Web Developer</h3>
                  <p class="card-user-profile-info">Kevin created the timer function and enhanced the stickman modal, along with working extensively on the responsiveness of the mobile webpage.</p>
                  </div><hr>
              </div>
              

            </div>
          
            <div class="card-user-profile col-12 col-lg-3">
              <div class="card-user-profile-content card-section">
                <div class="card-user-profile-avatar">
                    <div class="imageContain">
                  <img src="../images/1447284698-gettyimages-457029438.jpg" alt="picture of a Developer" />
                  </div>
                </div>
                <div class="rounded-social-buttons">
                    <a class="social-button github" href="https://github.com/Evans-N"></a>
                    <a class="social-button linkedin" href="#"></a>
                  </div><hr>
                <div class="wordsContain">
                  <h2 class="card-user-profile-name">Ian Miller</h2>
                  <h3 class="card-user-profile-status">Web Developer</h3>
                  <p class="card-user-profile-info">Nathan integrated and designed the Inspiration corner. He contributed on creating different elements of the website including this page your're on right now!</p>
                </div><hr>
              </div>
            </div>
            
          </section>
          <section class="contactUs col-12">
                <img class='contactPic' src="../images/trvlrlogoblue.png">  
                <div class="email"><hr>
                    <h2>Have questions, concerns, or feedback? Let us know!</h2>
                    <form class="contactUsform">What would you like to contact us about?
                            <select name='list' id="list" accesskey="target">
                                <option value="none">Select an Option</option>
                                <option value="mailto:webissues@Trvlr.com">Webpage Issues</option>
                                <option value="mailto:customerservice@Trvlr.com">Feedback</option>
                                <option value="mailto:innovation@Trvlr.com">New Webpage Ideas</option>
                                <option value="mailto:safety@Trvlr.com">Safety Concerns</option>
                            </select>
                            <input type="button" value="Go" onclick="goToNewPage()"/>
                          </form>
                </div>
            </section>
        </div>
    </body>
</html>
