<nav class="hover-underline-menu" data-menu-underline-from-center>
    <ul class="menu align-center">
            <li><a class="underline-from-center" href="/about">About</a></li>
            <li><a class="underline-from-center" href="/contact">Contact Us</a></li>
            <li><a class="underline-from-center" href="/login">Log In</a></li>
    </ul>
</nav>  