<% include head %>

<body>
  <% include usersNavbar %>
  <div class="hero-image"></div>
  <div class="hero-image"><div class="container">
      <div class="userHomeContainer row">
          <div class='col-12 col-lg-12 mt-4 mb-4' ><% include loginIndex %></div>
          <div class="divider"><hr></div>
          <div class='col-12 col-lg-12 mb-4'><% include register %></div>
    </div>
  </div>

<% include footer %>

</body>