<% include head %>
<body>
<% include usersNavbar %>
<div class='row mainPage'>
    <div class='col-12 col-md-8 content'>
        <% for(i=0;i<=5;i++){ %>
        <div class="col col-12 card">
            <div class="row">
                <div class="col col-4 imageCity">
                    <div class="trip-image">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/President_Barack_Obama.jpg/480px-President_Barack_Obama.jpg">
                    </div>
                    <h5>City, Country</h5>
                </div>
                <div class="col col-8 blurb">
                    <h4 class="separator-left">Title of Trip</h4>
                    <p>Put description of trip -- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eum, iusto vel repudiandae, quaerat soluta sequi officia. Blanditiis atque, illo eaque sint in architecto illum nostrum repudiandae labore tenetur! Eaque impedit pariatur odio ad ipsum qui aspernatur dolorem consequuntur a molestias nisi, quae voluptatem expedita, inventore voluptatibus dolores, veritatis corporis facilis laudantium explicabo vero! Non hic quia facilis blanditiis eum.</p>
                </div>
            </div>
        </div> 
        <% } %>       
    </div>
    <div class='col-md-4 col-12 sidebar'>
        <div class="col-12">
            <ul class="bulletin">
                <% for(i=0;i<=5;i++){ %>
                    <li>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium deleniti consequuntur dignissimos excepturi illo? Repudiandae, ullam. A recusandae et fugit eos possimus autem debitis itaque? Assumenda ratione mollitia corrupti quaerat!
                    </li>
                <% } %>
            </ul>
        </div>
    </div>   
</div>  
</body>