<div class="loginForm">
    <form action="/loginProcess" method="post">
    <section>
        
        <!-- <div class="container offset-4">
            <form class="col col-5">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="col col-5 form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="col col-5 form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div> -->

        <div class="container">
            <div class="row justify-content-center">
                <div>
                    <div class="row">
                        <div class="col text-center">
                            <h1>Login</h1>
                            <p class="text-h3">Sign in to visit your user portal! </p>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col mt-4">
                            <input type="email" name="email" class="form-control" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <input type="password" name="password" class="form-control" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <input type="submit" class="btn btn-primary mt-4" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</form>

<%# this is a comment %>