<div class="loginForm">
    <form action="/loginProcess" method="post">
    <section>
        
        <div class="container">
            <div class="row justify-content-center">
                <div>
                    <div class="row">
                        <div class="col text-center">
                            <h1>Login</h1>
                            <p class="text-h3">Sign in to visit your user portal! </p>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col mt-4">
                            <input type="email" name="login-email" class="form-control" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <input type="password" name="login-password" class="form-control" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <input type="submit" class="btn btn-primary mt-4" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</form>

<%# this is a comment %>