<% include head %>
<% include %>

<body>
    <div class="container">
        <div class="row">
            <h2>Your safety is our top priority</h2>
            <div>
                <ul class="safetyNavbar">
                    <a href=""></a><li>Basics</li>
                    <a href=""></a><li>Tips</li>
                    <a href=""></a><li>FAQ</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h3>Safety Basics</h3><hr>
            <strong>Your safety is important. Take it seriously we do.</strong>
            <h4>Review Profiles and References Carefully</h4>
            <p>Whether traveling, attending an event, or joining a Hangout, take the time to carefully review member profiles. 
                Read what members say about themselves and what other members have said about them. 
                Give yourself the time to thoroughly read through all the information available and don’t compromise. 
                If you’re uncomfortable, keep looking.
            </p><hr>
            <h4>Trust your Instincts</h4><hr>
            <p>If a person, situation or profile seems unsafe for any reason, move on. 
                Don’t worry about seeming rude. Be clear about your boundaries and don’t be shy about stating them. 
                If someone in a Hangout makes you uncomfortable, leave the Hangout or don’t attend. 
                Communicate clearly with others and take care of yourself. 
                If you’re uncomfortable staying alone with a member, consider staying with families or with couples.
            </p><hr>
            <h4>Have a Backup Plan</h4><hr>
            <p>Know your options. 
                If something doesn’t work out with your host, or if they misrepresented themselves or their home, 
                make sure you have an alternate place to stay. 
                Identify the nearest hostel or hotel, or have a backup host in place before you go. 
                If possible, research your host’s neighborhood prior to arriving, including how to get to and from there on your own. 
                If you’re heading to an event or joining a Hangout, look up the location prior to attending.
            </p><hr>
            <h4>Be Informed About the Culture Where You are Traveling</h4><hr>
            <p>Do your homework, and be sure you’re aware of cultural and religious differences, sensitivities, and general safety recommendations for each place that you travel. Gender roles and expectations can differ wildly. Consider using the following resources for safety alerts and advisories:

                    U.S. Department of State: Travel Alerts and Warnings
                    Gov.UK: Foreign Travel Advice
                    Government of Canada: Country Travel Advice and Advisories
            </p><hr>
            <h4>Know Your Limits</h4><hr>
            <p>Partying like a rockstar might be fun, but it puts your safety and well-being in the hands of others.
            </p><hr>
            <h4>Report Negative Experiences</h4><hr>
            <p>Our Trust and Safety team is here to help build the safest and most trusted community possible. 
                Reporting safety concerns to Couchsurfing helps keep future Couchsurfers safe. 
                Confidentially report negative experiences or safety concerns here.
            </p><hr>
        </div>
    </div>
</body>