 <% include head %>
<body> 
<% include usersNavbar%>
    <div class="container">
    <div class="safetyTitleContainer">
        <div>
            <h2>Your safety is our top priority</h2>
            <div>
                <ul class="safetyNavbar">
                    <a href="#Basics"><li>Basics</li></a>
                    <a href="#Tips"><li>Tips</li></a>
                </ul>
            </div>
        </div>
    </div>
    <section class="safetyBasicsContainer" id="Basics">
        <div class="row">
            <h3>Safety Basics</h3><hr>
            <strong>Your safety is important. Take it seriously we do.</strong>
            <h4>Review Profiles and References Carefully</h4>
            <p>Whether traveling, attending an event, or joining a Hangout, take the time to carefully review member profiles. 
                Read what members say about themselves and what other members have said about them. 
                Give yourself the time to thoroughly read through all the information available and don’t compromise. 
                If you’re uncomfortable, keep looking.
            </p><hr>
            <h4>Trust your Instincts</h4><hr>
            <p>If a person, situation or profile seems unsafe for any reason, move on. 
                Don’t worry about seeming rude. Be clear about your boundaries and don’t be shy about stating them. 
                If someone in a Hangout makes you uncomfortable, leave the Hangout or don’t attend. 
                Communicate clearly with others and take care of yourself. 
                If you’re uncomfortable staying alone with a member, consider staying with families or with couples.
            </p><hr>
            <h4>Have a Backup Plan</h4><hr>
            <p>Know your options. 
                If something doesn’t work out with your host, or if they misrepresented themselves or their home, 
                make sure you have an alternate place to stay. 
                Identify the nearest hostel or hotel, or have a backup host in place before you go. 
                If possible, research your host’s neighborhood prior to arriving, including how to get to and from there on your own. 
                If you’re heading to an event or joining a Hangout, look up the location prior to attending.
            </p><hr>
            <h4>Be Informed About the Culture Where You are Traveling</h4><hr>
            <p>Do your homework, and be sure you’re aware of cultural and religious differences, sensitivities, and general safety recommendations for each place that you travel. Gender roles and expectations can differ wildly. Consider using the following resources for safety alerts and advisories:

                    U.S. Department of State: Travel Alerts and Warnings
                    Gov.UK: Foreign Travel Advice
                    Government of Canada: Country Travel Advice and Advisories
            </p><hr>
            <h4>Know Your Limits</h4><hr>
            <p>Partying like a rockstar might be fun, but it puts your safety and well-being in the hands of others.
            </p><hr>
            <h4>Report Negative Experiences</h4><hr>
            <p>Our Trust and Safety team is here to help build the safest and most trusted community possible. 
                Reporting safety concerns to Couchsurfing helps keep future Couchsurfers safe. 
                Confidentially report negative experiences or safety concerns here.
            </p><hr>
        </div>
    </section>
    <section class="safetyTipsContainer" id="Tips">
        <div class="row">
            <h3>Personal Safety Tips</h3>
            <strong>New people and new places present opportunities for adventure, 
                but traveling can also be disorienting. To prepare you to make the best possible decisions 
                for yourself on your trip, we’ve put together a few tips.</strong>
            <h4>Do Your Homework</h4>
            <ul>
                <li>Before meeting, look for hosts or surfers whose profiles are complete with a real name, 
                    clear photos, and detailed descriptions of themselves and, if applicable, their couches.</li>
                <li>When looking for an event or joining a Hangout, review the profiles of those attending and know the 
                    location, particularly if you’re in an unfamiliar area.</li>
                <li>Read references of hosts or travelers to get a sense of others’ experiences.</li>
                <li>What’s NOT there? Is there missing information or questions the member could answer for you that would help 
                    you get a better sense of who they are?</li>
                <li>Women travelers may prefer to book with female hosts, and vice versa.</li>
                <li>Make sure you understand the level of privacy a host is offering when surfing. 
                        Carefully read through My Home section on member profiles and be sure to ask questions about anything 
                        that’s unclear.</li>
            </ul>
            <h4>During you Host/Surf Experience</h4>
            <ul>
                <li>Get to know potential Hosts or Surfers through our messaging system. 
                    Don’t give out your personal contact information until you’ve met. 
                    Keep Hangout communication within the Hangout application.</li>
                <li>Make sure you have a plan to communicate with friends, family and backup accommodation options once you arrive. 
                    Will you have your computer? Will your mobile phone work?</li>
                <li>Ask questions! Have conversations! You’ll know what to expect (and so will your Host/Surfer), 
                    and you’ll likely both be more at ease when you meet. Some things you may want to ask:
                    <ul>
                        <li>How many people live in your home?</li>
                        <li>Do you allow guests to use the kitchen?</li>
                        <li>How many Surfers have you hosted (or how much have you Surfed)?</li>
                        <li>Are there safety precautions I’ll need to take in the neighborhood or surrounding areas?</li>
                    </ul>
                    These initial conversations will tell you a lot. If anything about your interaction makes you uncomfortable, 
                    look for a different Host/Surfer.
                </li>
            </ul>
        </div>
    </section>
</div>
<% include footer %>
</body>