<nav class="navbar navbar-expand-lg bg-dark navbar-dark" data-menu-underline-from-center>
    <a class="navbar-brand mb-0 h1">TRVLR</a>
    <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/users/landing">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/users/myProfile">My Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="/users/myTrips">My Trips</a></li>
            <li class="nav-item"><a class="nav-link" href="/users/tripCreate">Create Trip</a></li>
    </ul>
</nav>  