<nav class="fixed-top navbar navbar-expand-lg navbar-colors
">
    <a class="navbar-brand" href="/"><strong>TRVLR</strong> | <i>Join the movement</i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto menu menu-hover-lines" >
                <li class="nav-item "><a class="nav-link" href="/users/landing">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/users/myProfile">My Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="/users/myTrips">My Trips</a></li>
                <li class="nav-item"><a class="nav-link" href="/users/tripCreate">Create Trip</a></li>
        </ul>
    </div>
</nav>  

