<nav class="hover-underline-menu" data-menu-underline-from-center>
    <ul class="menu align-center">
        <li><a class="underline-from-center" href="#">Home</a></li>
        <li><a class="underline-from-center" href="#">My Profile</a></li>
        <li><a class="underline-from-center" href="#">My Trips</a></li>
        <li><a class="underline-from-center" href="#">Create Trip</a></li>
    </ul>
</nav>
  