<nav class="hover-underline-menu fixed-nav" data-menu-underline-from-center>
    <ul class="menu align-center">
            <li><a class="underline-from-center" href="/users/landing">Home</a></li>
            <li><a class="underline-from-center" href="/users/myProfile">My Profile</a></li>
            <li><a class="underline-from-center" href="/users/myTrips">My Trips</a></li>
            <li><a class="underline-from-center" href="/users/tripCreate">Create Trip</a></li>
    </ul>
</nav>  