<nav class="hover-underline-menu" data-menu-underline-from-center>
    <ul class="menu align-center">
            <li><a class="underline-from-center" href="/users/">Home</a></li>
            <li><a class="underline-from-center" href="/users/profile">My Profile</a></li>
            <li><a class="underline-from-center" href="/users/mytrips">My Trips</a></li>
            <li><a class="underline-from-center" href="/users/createtrip">Create Trip</a></li>
    </ul>
</nav>  