body{
    min-height: 100vh;
}
.hero-image {
    background-image: url("../images/cliffside.jpg");
    height: 100%;
    width: 100%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    }


.container {
    margin-top: 2rem;
    min-height: 100vh;
}

.container-fluid {
    margin-top: 5rem;
}

.extra-top-margin {
    margin-top: 5rem
}




/* USER CARDS */


.card-profile-stats {
    border: 1px solid #cacaca;
    margin: 0 0 1.25rem;
    padding: 1.25rem;
    background: #fefefe;
    border-radius: 10px;
  }
  .card-profile-stats-intro-content{
    text-align: center;
    margin:auto;
  }
  .card-profile-stats .card-profile-stats-intro {
    text-align: center;
  
  }
  
  .card-profile-stats .card-profile-stats-intro .card-profile-stats-intro-pic {
    border-radius: 50%;
    margin: auto;
  }
  
  .card-profile-stats .card-profile-stats-intro .card-profile-stats-intro-content p:last-child {
    margin: 0;
  }
  
  .card-profile-stats .card-profile-stats-container {
    text-align: center;
  }
  
  .card-profile-stats .card-profile-stats-container .card-profile-stats-statistic {
    margin: 0 0 1.25rem;
  }
  
  .card-profile-stats .card-profile-stats-container .card-profile-stats-statistic p:last-child {
    margin: 0;
  }
  
  .card-profile-stats .card-profile-stats-more .card-profile-stats-more-link {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    color: #0a0a0a;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .card-profile-stats .card-profile-stats-more .card-profile-stats-more-content {
    display: none;
  }
  
  @media print, screen and (min-width: 64em) {
    .card-profile-stats .card-profile-stats-intro {
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      text-align: left;
    }
    .card-profile-stats .card-profile-stats-intro .card-profile-stats-intro-pic {
      margin: auto;
      max-width: 250px;
    }
    .card-profile-stats .card-profile-stats-container {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
    }
  }
  .card-profile-stats-intro-pic{
    max-width: 100%;
  }